@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/banner.css");
@import url("components/tab.css");
@import url("components/component.css");
@import url("components/footer.css");


body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}

.padded {
  padding: 50px 0;
}

.marged-20 {
  margin: 20px 0;
}

.wrapper {
  background-color: #E4E4E4;
}
